/* import font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Ubuntu:wght@500;700&display=swap');/* general setting */

*{
    box-sizing: border-box;
}

body{
    background:content-box radial-gradient(rgba(6, 27, 43, 0.95), rgba(0, 0, 0, 0)),url(./images/bg-img.jpg) no-repeat center center/cover;
    min-height:100vh;
    overflow:hidden;
    display:flex;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    color:white;
    font-family: 'Ubuntu', sans-serif; 
    font-weight: 500;   
    margin:0;
    position: relative;
    font-weight: 700;
    letter-spacing: 0.05em;
}

/* main style */
h1{
    position:absolute;
    top: 7.5vh;
    left:50%;
    transform: translateX(-50%);
}

.container{
    display:flex;
    align-items:center;
    justify-content:center;
    margin:auto;
    height:300px;
    width:300px;
    position: relative; 
    /* because the gradient circle and the regular circle will be position absolute together*/
    transform: scale(1);
}

.text{
    font-size: 1.2rem;
}

/* the circle with a gradient border */
.circle{
    background-color:#10221e;
    height:100%;
    width: 100%;
    border-radius:50%;
    position:absolute;
    top:0;
    left:0;
    z-index: -1;
    transition: background-color 0.2s;
}

.circle.in{
    background-color:#1d3b35;
}

.circle.out{
    background-color:#193631;

}

.gradient-circle{
    background:conic-gradient(
        #fff 0%,
        #fff 5%,
        #55b7a4 5%, 
        #4ca493 45%,
        #336d62 45%,
        #2a5b52 95%,
        #fff 95%,
        #fff 100%
    );
    height: 320px;
    width:320px;
    z-index:-2;
    border-radius: 50%;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/* pointer circle */
.pointer{
    background-color:white;
    border-radius:50%;
    height: 20px;
    width: 20px;
    display:block;
}

.pointer-container{
    position: absolute;
    top:-40px;
    left:140px;
    width:20px;
    height:190px;/* 往下長到圓心 */
    animation: rotate 10s linear forwards infinite;
    transform-origin: bottom center;
}

@keyframes rotate {
    from {
        transform:rotate(0deg);
    }

    to {
        transform:rotate(360deg);
    }
}

/* big circle grow and shrink animation */

.container.grow{
    animation: grow 4s ease-out forwards;
}


@keyframes grow{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}

.container.shrink{
    animation: shrink 5s ease-out forwards;
}


@keyframes shrink{
    from{
        transform: scale(1.2);
    }
    to{
        transform: scale(1);
    }
}